.all{
  margin-left: 510px;
  width: 650px;
}
.container{
  display: flex;
  gap: 80px;
  margin-bottom: 0.5rem;
  align-items: flex-end;
}

.adress{
  font-weight: 600;
}

.left{
  width: 350px;
  color: #041f38;
}

.block{
  border-bottom-style: solid;
  border-bottom-color: #041f38;
  border-bottom-width: 3px;
}

.info{
  color: #0f4374;
  font-weight: 600;
  text-align: left;
  width: 250px;
}

.email {
  line-height: 1.625;
}

.phone:hover, a:hover {
  color: #434190;
  cursor: pointer;
}

a {
  text-decoration: none;
}  